.containerr {
  padding: 30px;
}

.containerr:fullscreen {
  --backdrop-color: rgb(255, 255, 255);
  background: transparent;
}

.containerr:fullscreen::backdrop {
  background-color: var(--backdrop-color);
}

.opening {
  display: flex;
}

.backbtn {
  cursor: pointer;
  height: 30px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(200, 233, 129);
  font-size: 15px;
}

.backbtn:hover {
  background-color: rgb(180, 232, 66);
}

.intro {
  display: flex;
}

.intro1 {
  font-size: 17px;
  flex: 1;
}

.intro2 {
  flex: 1;
  border: 5px solid;
  padding-right: 15px;
  font-weight: 500;
  height: fit-content;
}

.startbtn {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(200, 233, 129);
  margin-right: 20px;
}

.startbtn:enabled:hover {
  background-color: rgb(180, 232, 66);
}

.finishbtn {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(241, 131, 131);
  margin-right: 20px;
}

.finishbtn:enabled:hover {
  background-color: rgb(242, 93, 93);
}

.fullscreenbtn {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  background-color: rgb(93, 174, 125);
  margin-right: 20px;
}

.fullscreenbtn:hover {
  background-color: rgb(63, 149, 98);
}

.result {
  font-size: 20px;
  font-weight: 800;
  margin-top: 30px;
  justify-content: center;
}
